.main{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   border-radius: 4%;
}

.one{
   
    margin-top: 7rem;
    width: 40%;
    min-height: 60vh;
}
.two{
   
    margin-top: 7rem;
    min-height: 60vh;
    width: 40%;
}




@media only screen and (max-width: 800px) {
    .main{
        flex-direction: column;
    }
    .one{
      width: 90vw;
    }
    .two{
        width: 90vw;
    }
  }


