.main{
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: center;
   justify-content: center;
   border-radius: 4%;
}

.one{
   
    margin-top: 7rem;
    width: 40%;
    min-height: 60vh;
}
.two{
   
    margin-top: 7rem;
    min-height: 60vh;
    width: 40%;
}


.bcg{
    background-image: url(https://img.freepik.com/free-photo/purple-pink-watercolor-texture-background_1083-169.jpg?1&w=900&t=st=1684674203~exp=1684674803~hmac=1bfce7ed7f7f893861d6c1f6227f1544500de24ed7a945b12fefa70a40cf5716);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 800px) {
    .main{
        flex-direction: column;
    }
    .one{
      width: 90vw;
    }
    .two{
        width: 90vw;
    }
  }


