
*{
  font-family: 'DM Sans', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Signika', sans-serif;
}

.navbar a{
  font-size: 1.2rem;
  text-transform: capitalize;
  
}

.nav-link:hover{
  color: rgb(151, 47, 189) !important;
}

.img{
  animation: up-down 2s ease-in-out infinite alternate-reverse both ;
}

@-webkit-keyframes up-down {
  0% {
      transform: translateX(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes up-down{
  0% {
    transform: translateX(20px);
}
100% {
  transform: translateY(-20px);
}
}


@media screen and (max-width: 570px) {
 .shyam{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
 }
 .ram{
  width: 100%;
 }
}

